LLAMA_CLOUD_API_KEY="<llx-key>"
OPENAI_API_KEY="<sk-key>"
LLAMA_API_KEY="<LL-key>"
LOCAL_API_KEY="local"
COHERE_APIKEY="<cohere-key>

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DATABASE=agent_sources

PYTHONPATH="$PYTHONPATH:$PWD"